body {
}


fieldset{
    width:auto;
    max-width:260px;
    border:none;
    margin:5px auto;
}
fieldset>label{
    margin:10px;
    text-align:justify;
    display:inline-block;
    width:60px;
}
.tright{
    text-align:right;
}
.tcenter{
    text-align:center;
}
