@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    @RenderPage("~/views/Shared/_EasyuiPartialPage.cshtml")
    <link href="~/LocalCSS/User/ChangePassword.css" rel="stylesheet" />
    <script src="~/LocalScript/User/ChangePassword.js"></script>
</head>
<body>
    <h2>修改登录密码</h2>
    <hr />
    <br />
    <fieldset id="fields">
        <legend></legend>
        <label for="oldPassword">旧密码：</label><input class="easyui-passwordbox" prompt="Password" name="oldPassword" id="oldPassword" showeye="false" />
        <br />
        <label for="newPassword">新密码：</label><input class="easyui-passwordbox" prompt="new Password"  name="newPassword" id="newPassword" showeye="false" />
        <br />
        <label for="confirmPassword">确认密码：</label><input class="easyui-passwordbox" prompt="confirm Password" name="confirmPassword" id="confirmPassword" showeye="false" />
        <br />
        <br />
        <div class="tright">
            <a href="#" id="btn_ok" class="easyui-linkbutton" iconcls="icon-confirm">确认</a>
            <a href="#" id="btn_cancle" class="easyui-linkbutton" iconcls="icon-cancel">取消</a>
        </div>
    </fieldset>

</body>
</html>
