@model Manage.IBLL.Dto.UserInfo
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

    <link href="~/LocalCSS/User/Index.css" rel="stylesheet" />
</head>
<body>
@if (Model != null)
{
    <h2>个人信息详情</h2>
    <hr />
    <form id="form1" class="profile">
        <div class="header" contenteditable="true">
            <img id="Photo" name="Photo" class="img-circle" src="@Url.Action("GetUserHeadImage", new { key=@Model.Key})" alt="头像" />
        </div>
        <div class="body">
            <table>
                <tr>
                    <td>性别</td>
                    <td><p id="Sex">@Model.SexString</p></td>
                </tr>
                <tr>
                    <td>名称</td>
                    <td><p id="Name">@Model.Name</p></td>
                </tr>
                <tr>
                    <td>帐号</td>
                    <td><p id="LoginName">Model.LoginName</p></td>
                </tr>
                <tr>
                    <td>密码</td>
                    <td><p id="PassWord">@Model.PassWord</p></td>
                </tr>
            </table>
        </div>
        <div class="footer">

        </div>
    </form>
}
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script>
        $(function () {
            $("#Photo").on({
                drop: function (e) {  //拖后放
                    e.preventDefault();
                    //jquery的file要去e.originalEvent里面拿
                    var file = e.originalEvent.dataTransfer.files[0];
                    var reader = new FileReader();
                    reader.readAsDataURL(file);
                    reader.onload = function (e) {
                        $("#Photo").attr("src", e.target.result);
                    }
                }
            })
        });
    </script>
</body>
</html>
