
@{
    ViewBag.Title = "菜单管理";
    Layout = "~/Views/Shared/_LayoutBasicChild.cshtml";
}

<h2>菜单管理--@ViewBag.Operation</h2>
<hr />
<form id="menuform" name="menuform">
    <table id="List" toolbar="#tb" pagination="true" singleselect="true"></table>
    <div id="tb" style="padding:5px;height:auto">
        <div style="margin-bottom:5px">
            <a href="IndexExecute?Key=0" class="easyui-linkbutton" iconcls="icon-add" plain="true"></a>
            <a id="UpdateBtn" class="easyui-linkbutton" iconcls="icon-edit" plain="true"></a>
            @*<a href="#" class="easyui-linkbutton" iconcls="icon-save" plain="true"></a>
                <a href="#" class="easyui-linkbutton" iconcls="icon-cut" plain="true"></a>
                <a href="#" class="easyui-linkbutton" iconcls="icon-remove" plain="true"></a>*@
        </div>
        <div>
            Date From: <input id="DateFrom" class="easyui-datebox" style="width:100px" editable="false">
            To: <input id="DateTo" class="easyui-datebox" style="width:100px" editable="false">
            菜单名称:
            <input id="Name" class="easyui-textbox" data-options="prompt:'请输入名称'" style="width:200px;" >
            <a id="search" href="###" class="easyui-linkbutton" iconcls="icon-search">Search</a>
        </div>
    </div>
</form>
@section script{
    <script src="~/LocalScript/Menu/IndexQuery.js"></script>
}


