
@{
    ViewBag.Title = "IndexQuery";
    Layout = "~/Views/Shared/_LayoutBasicChild.cshtml";
}

<h2>角色菜单</h2>
<hr />
<table id="List" toolbar="#tb" pagination="true" singleselect="true"></table>
<div id="tb" style="padding:5px;height:auto">
    <div style="margin-bottom:5px">
        <a href="###" id="UpdateBtn" class="easyui-linkbutton" iconcls="icon-edit" plain="true">编辑</a>
    </div>
    <div>
        Date From: <input id="DateFrom" class="easyui-datebox" style="width:80px" editable="false">
        To: <input id="DateTo" class="easyui-datebox" style="width:80px" editable="false">
        角色名:
        <input id="Name" class="easyui-textbox" data-options="prompt:'请输入名称'" style="width:200px;">
        <a id="search" href="#" class="easyui-linkbutton" iconcls="icon-search">Search</a>
    </div>
</div>
@section script{
<script src="~/EasyUI1.4.5/datagrid-detailview.js"></script>
<script src="~/LocalScript/RoleMenu/IndexQuery.js"></script>
}