@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=10" />   
    <meta name="viewport" content="width=device-width" />
    <title>用户登录</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link href="~/LocalStyle/CSS/Login.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h1 class="login-heading">ASP.NET MVC5 登陆验证</h1>
        <div class="login">
            <div>
                <input type="text" name="username" id="username" placeholder="用户名" class="input-txt" required="" />
            </div>
            <div>
                <input type="password" name="password" id="password" placeholder="密码" class="input-txt" required="" />
            </div>
            <div>
                <input type="text" name="name" placeholder="验证码" style="width:190px;" id="validateCode" class="input-txt" />
                <div style="width:210px;float:right;padding-top:14px;padding-left:14px;">
                    看不清？<a id="switchCode" href="javascript:void();" style="text-decoration:none">换一张</a>
                    <img id="imgCode" class="authcode" src="~/Login/GetAuthCode" width="80" height="25" alt="换一个" />
                </div>
            </div>
            <div class="login-footer">
                <a href="#" class="lnk">
                    <span>点击注册</span>
                </a>
                <button id="loginButton" type="button" class="btn btn--right"><span>登录</span></button>
            </div>
            <div class="login_tips" style="color:red;"></div>
        </div>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/LocalStyle/Javascript/LocalScript.js"></script>
</body>
</html>