
.contentDetail{
    margin:auto;
}
table{
    border:1px solid lightgray;
    background:lightgray;
    
}
.details{
    width:33%;
    min-height:100px;
    overflow-y:auto;
    margin:auto;

    padding:10px;

}

.tblVerifyDetail{
    background-color:white;
    margin:auto;
}
.tblVerifyDetail tr>td{
   
}
